<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.2//EN" "http://resources.openmrs.org/doctype/config-1.2.dtd">

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>@MODULE_ID@</id>
	<name>@MODULE_NAME@</name>
	<version>@MODULE_VERSION@</version>
	<package>@MODULE_PACKAGE@</package>
	<author>Thoughtworks</author>
	<description>
			Flowsheet Module for displaying patient information.
	</description>

	<activator>@MODULE_PACKAGE@.FlowsheetModuleActivator</activator>
	
	<!-- <updateURL>https://dev.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->
	
	<require_version>1.2.0.3400</require_version>
	
	<!-- Extensions -->
	<extension>
		<point>org.openmrs.patientDashboardTab</point>
		<class>@MODULE_PACKAGE@.extension.html.FlowsheetTab</class>
	</extension>
	
	
	<!-- AOP
	<advice>
		<point>org.openmrs.api.FormService</point>
		<class>@MODULE_PACKAGE@.advice.DuplicateFormAdvisor</class>
	</advice>
	 /AOP -->
	
	
	<!-- Required Privileges 
	<privilege>
		<name>@MODULE_NAME@</name>
		<description>Allows user to access Form Entry pages/functions</description>
	</privilege>
	 /Required Privileges -->


	<!-- Required Global Properties 
	<globalProperty>
		<property>@MODULE_ID@.someProperty</property>
		<defaultValue></defaultValue>
		<description>
			A description of the global property goes here.  The description
			should explain enough for administrators to understand the purpose
			and possible values for the global property.
		</description>
	</globalProperty>
	/Required Global Properties -->
	
	<!--<dwr>-->
		<!--<allow>-->
			<!--<convert converter="bean" match="org.openmrs.module.flowsheet.Flowsheet">-->
				<!--<param name="include" value="encounters"/>-->
			<!--</convert>-->
			<!--<convert converter="bean" match="org.openmrs.module.flowsheet.web.dwr.data.Encounter">-->
				<!--<param name="include" value="observations"/>-->
			<!--</convert>-->
			<!--&lt;!&ndash;<convert converter="bean" match="org.openmrs.module.flowsheet.Observation"/>&ndash;&gt;-->
		<!---->
			<!--&lt;!&ndash;<create creator="new" javascript="DWRFlowsheetService">&ndash;&gt;-->
				<!--&lt;!&ndash;<param name="class" value="org.openmrs.module.flowsheet.web.dwr.DWRFlowsheetService"/>&ndash;&gt;-->
				<!--&lt;!&ndash;<include method="getFlowSheetForPatient"/>&ndash;&gt;-->
			<!--&lt;!&ndash;</create>&ndash;&gt;-->
		<!--</allow>-->

		<!--<signatures>-->
			<!--<![CDATA[-->
				<!--import org.openmrs.module.flowsheet.web.dwr.DWRFlowsheetService;-->
				<!--DWRFlowsheetService.getFlowSheetForPatient(int patientId);-->
			<!--]]>-->
		<!--</signatures>-->
	<!--</dwr>-->
		
	<!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name> 
	<servlet>
		<servlet-name>formDownload</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.FormDownloadServlet</servlet-class>
	</servlet>
	-->
	<!-- /Servlets -->
	
	
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	
</module>

